body {
	background: #252525;
	color: #FFF;
}

h1 {
	color: #f54997;
}

.choice {
	background-color: #333;
	margin-bottom: 10px;
	color: #FFF;
	font-weight: bold;
	line-height: 40px;
}

a > .choice:hover {
	background-color: #FFF;
	color: #333;
}

.choice.active {
	background-color: #f54997;
}

.choice.letter {
	width: 40px;
	height: 40px;
}

.choice.pagenum {
	width: 40px;
	height: 40px;
	display: inline-block;
}

.choice.pageword {
	width: 100px;
	height: 40px;
	display: inline-block;
}

.programme-container {
	margin-bottom: 20px;
}

